@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');

span {
    font-family: 'Bitcount Grid Single', monospace;
}

